body {
    font-size: 16px;
}

h1, h2, h3 {
    font-family: "Barlow";
    font-weight: 900;
    text-transform: uppercase;
    color: #162542;
}

h1 {
    font-size: 56px;
    line-height: 56px;
}

h2 {
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 28px;
}

p {
    font-family: "Barlow";
    font-weight: 500;
    line-height: 26px;
    color: #7b8bad;
}

a {
    padding: 1.2em 1.7em;
    border-radius: 0.5em;
    font-family: 'Barlow';
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

a.button1 {
    background-color: #f16718;
}

a.button1:hover {
    background-color: #ff9b62;
}

a.button2 {
    background-color: #e8eff2;
    color: #162542;
}

a.button2:hover {
    background-color: #162542;
    color: #fff;
}

footer {
    text-align: center;
}
