/* GENERAL */

body {
    font-size: 16px;
    margin: 55px 150px;
}

h1, h2, h3 {
    font-family: "Barlow";
    font-weight: 900;
    text-transform: uppercase;
    color: #162542;
}

h1 {
    font-size: 56px;
    line-height: 56px;
}

h2 {
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 28px;
}

p {
    font-family: "Barlow";
    font-weight: 500;
    line-height: 26px;
    color: #7b8bad;
}

a {
    padding: 1.2em 1.7em;
    border-radius: 0.75em;
    font-family: "Barlow";
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

a.button1 {
    background-color: #f16718;
}

a.button1:hover {
    background-color: #ff9b62;
}

a.button2 {
    background-color: #e8eff2;
    color: #162542;
}

a.button2:hover {
    background-color: #162542;
    color: #fff;
}

.square-1 {
    position: absolute;
    right: -127px;
}

.square-2 {
    position: absolute;
    left: -127px;
}

@media screen and (max-width: 768px) {
    .square-1,
    .square-2 {
        display: none;
    }
}

picture img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0.75em;
}

header,
section {
    margin-bottom: 75px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* INTRODUCTION */

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction-body {
    padding: 0 75px;
}

.introduction-footnotes {
    display: flex;
    gap: 1.7em;
}

.introduction-footnotes p {
    text-transform: uppercase;
    font-weight: 600;
}

/* DESCRIPTION */

/* FEATURES */

.icon {
    display: flex;
    justify-content: center;
    background-color: #f16718;
    width: 65px;
    height: 65px;
    border-radius: 0.75em;
}

.icon img {
    margin: auto;
}

/* FOOTER */

footer {
    text-align: center;
}
