/* GENERAL */

body {
    font-size: 16px;
    margin: 0 auto;
    padding: 3.5em;
    max-width: 1200px;
    box-sizing: border-box;
}

@media screen and (max-width: 643px) {
    body {
        padding: 2em;
    }
}

h1, h2, h3 {
    font-family: "Barlow";
    font-weight: 900;
    text-transform: uppercase;
    color: #162542;
}

h1 {
    font-size: 3.5em;
    line-height: 56px;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    line-height: 36px;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.5em;
    line-height: 28px;
}

p {
    font-family: "Barlow";
    font-weight: 500;
    line-height: 26px;
    color: #7b8bad;
}

a {
    padding: 1.2em 1.7em;
    border-radius: 0.75em;
    font-family: "Barlow";
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

a.button1 {
    background-color: #f16718;
}

a.button1:hover {
    background-color: #ff9b62;
}

a.button2 {
    background-color: #e8eff2;
    color: #162542;
}

a.button2:hover {
    background-color: #162542;
    color: #fff;
}

.square-1 {
    position: absolute;
    right: -7em;
}

.square-2 {
    position: absolute;
    left: -7em;
    bottom: 8.5em;
}

@media screen and (max-width: 1440px) {
    .square-1,
    .square-2 {
        display: none;
    }
}

picture img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100%;
    border-radius: 0.75em;
    object-fit: cover;
    overflow: hidden;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 643px) {
    header a {
        padding: 1em;
    }
}

/* INTRODUCTION */

.introduction {
    display: flex;
    justify-content: flex-start;
    margin-top: 5em;
    gap: 8em;
}

.introduction-footer {
    display: flex;
    gap: 1.7em;
    margin-top: 2em;
}

.introduction-footer p {
    text-transform: uppercase;
    font-weight: 600;
}

@media screen and (max-width: 940px) {
    .right-bleed img {
        width: calc(100% + 200px);
        margin-right: -10px;
        overflow: hidden;
    }
}

@media screen and (max-width: 643px) {
    .introduction {
        flex-wrap: wrap;
        align-content: flex-start;
        margin-top: 1em;
    }

    h1 {
        font-size: 3.2em;
    }
    
    .introduction img {
        margin-top: -3em;
    }

    .introduction-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .introduction-footer {
        justify-content: space-between;
    }

    .introduction-footer a {
        padding: 1em;
    }
}

/* DESCRIPTION */

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    gap: 1.7em;   
}

.description-img-container {
    display: flex;
    gap: 4%;
    max-height: 100%;
}

.description-body {
    padding-left: 6em;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    
}

.orange-overlay {
    position: relative;
}

.orange-overlay::before {
    content: "";
    position: absolute;
    background: #f16718;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    border-radius: 0.75em;
}

@media screen and (max-width: 940px) {
    .description {
        flex-wrap: wrap;
    }

    .description-img-container {
        max-width: 100%;
    }

    .description-body {
        flex-wrap: nowrap;
        width: 100%;
        padding-left: 0;
        justify-content: space-between;
        gap: 15%;
    }
}

@media screen and (max-width: 643px) {
    .description-body {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    
    .orange-overlay {
        margin-left: -40px;
        overflow: hidden;
    }
}


/* FEATURES */

.features {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 10em;
    flex-wrap: wrap;
    gap: 1.5em;
}

.features-topic {
    width: 15em;
}

.features h3 {
    padding-top: 1.2em;
}

.icon {
    display: flex;
    justify-content: center;
    background-color: #f16718;
    width: 4em;
    height: 4em;
    border-radius: 0.75em;
}

.icon img {
    margin: auto;
}

@media screen and (max-width: 643px) {
    .features {
        align-items: center;
        margin-top: 5em;
    }

    .features-topic {
        width: 23em;
        margin-bottom: 3em;
    }

    .features h3,
    .features p {
        text-align: center;
    }

    .icon {
        margin: 0 auto;
    }
}

/* FOOTER */

footer {
    margin-top: 8em;
    text-align: center;
}

.footer-bold {
    font-weight: 600;
}
